<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActApproveFileMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActApproveFile">
		<result column="id" property="id" />
		<result column="proc_inst_id" property="procInstId" />
		<result column="task_id" property="taskId" />
		<result column="file_name" property="fileName" />
		<result column="file_address" property="fileAddress" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="tenant_id" property="tenantId" />
		<result column="create_department_id" property="createDepartmentId" />
		<result column="create_department_ids" property="createDepartmentIds" />
		<result column="update_department_id" property="updateDepartmentId" />
		<result column="update_department_ids" property="updateDepartmentIds" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, proc_inst_id AS procInstId, task_id AS taskId, file_name AS fileName, file_address AS fileAddress, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, tenant_id AS tenantId, create_department_id AS createDepartmentId, create_department_ids AS createDepartmentIds, update_department_id AS updateDepartmentId, update_department_ids AS updateDepartmentIds
    </sql>

</mapper>
