<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActHiVarinstMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActHiVarinst">
		<id column="ID_" property="id" />
		<result column="PROC_INST_ID_" property="procInstId" />
		<result column="EXECUTION_ID_" property="executionId" />
		<result column="TASK_ID_" property="taskId" />
		<result column="NAME_" property="name" />
		<result column="VAR_TYPE_" property="varType" />
		<result column="REV_" property="rev" />
		<result column="BYTEARRAY_ID_" property="bytearrayId" />
		<result column="DOUBLE_" property="double" />
		<result column="LONG_" property="long" />
		<result column="TEXT_" property="text" />
		<result column="TEXT2_" property="text2" />
		<result column="CREATE_TIME_" property="createTime" />
		<result column="LAST_UPDATED_TIME_" property="lastUpdatedTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, PROC_INST_ID_ AS procInstId, EXECUTION_ID_ AS executionId, TASK_ID_ AS taskId, NAME_ AS name, VAR_TYPE_ AS varType, REV_ AS rev, BYTEARRAY_ID_ AS bytearrayId, DOUBLE_ AS double, LONG_ AS long, TEXT_ AS text, TEXT2_ AS text2, CREATE_TIME_ AS createTime, LAST_UPDATED_TIME_ AS lastUpdatedTime
    </sql>

</mapper>
