<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActHiAttachmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActHiAttachment">
		<id column="ID_" property="id" />
		<result column="REV_" property="rev" />
		<result column="USER_ID_" property="userId" />
		<result column="NAME_" property="name" />
		<result column="DESCRIPTION_" property="description" />
		<result column="TYPE_" property="type" />
		<result column="TASK_ID_" property="taskId" />
		<result column="PROC_INST_ID_" property="procInstId" />
		<result column="URL_" property="url" />
		<result column="CONTENT_ID_" property="contentId" />
		<result column="TIME_" property="time" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, REV_ AS rev, USER_ID_ AS userId, NAME_ AS name, DESCRIPTION_ AS description, TYPE_ AS type, TASK_ID_ AS taskId, PROC_INST_ID_ AS procInstId, URL_ AS url, CONTENT_ID_ AS contentId, TIME_ AS time
    </sql>

</mapper>
