<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActIdUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActIdUser">
		<id column="ID_" property="id" />
		<result column="REV_" property="rev" />
		<result column="FIRST_" property="first" />
		<result column="LAST_" property="last" />
		<result column="EMAIL_" property="email" />
		<result column="PWD_" property="pwd" />
		<result column="PICTURE_ID_" property="pictureId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, REV_ AS rev, FIRST_ AS first, LAST_ AS last, EMAIL_ AS email, PWD_ AS pwd, PICTURE_ID_ AS pictureId
    </sql>

</mapper>
