<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActIdInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActIdInfo">
		<id column="ID_" property="id" />
		<result column="REV_" property="rev" />
		<result column="USER_ID_" property="userId" />
		<result column="TYPE_" property="type" />
		<result column="KEY_" property="key" />
		<result column="VALUE_" property="value" />
		<result column="PASSWORD_" property="password" />
		<result column="PARENT_ID_" property="parentId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, REV_ AS rev, USER_ID_ AS userId, TYPE_ AS type, KEY_ AS key, VALUE_ AS value, PASSWORD_ AS password, PARENT_ID_ AS parentId
    </sql>

</mapper>
