<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActProcdefInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActProcdefInfo">
		<id column="ID_" property="id" />
		<result column="PROC_DEF_ID_" property="procDefId" />
		<result column="REV_" property="rev" />
		<result column="INFO_JSON_ID_" property="infoJsonId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, PROC_DEF_ID_ AS procDefId, REV_ AS rev, INFO_JSON_ID_ AS infoJsonId
    </sql>

</mapper>
