<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.ActRuIdentitylinkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.ActRuIdentitylink">
		<id column="ID_" property="id" />
		<result column="REV_" property="rev" />
		<result column="GROUP_ID_" property="groupId" />
		<result column="TYPE_" property="type" />
		<result column="USER_ID_" property="userId" />
		<result column="TASK_ID_" property="taskId" />
		<result column="PROC_INST_ID_" property="procInstId" />
		<result column="PROC_DEF_ID_" property="procDefId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_ AS id, REV_ AS rev, GROUP_ID_ AS groupId, TYPE_ AS type, USER_ID_ AS userId, TASK_ID_ AS taskId, PROC_INST_ID_ AS procInstId, PROC_DEF_ID_ AS procDefId
    </sql>

</mapper>
