<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.TActBusinessMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.TActBusiness">
		<id column="id" property="id" />
		<result column="result" property="result" />
		<result column="title" property="title" />
		<result column="status" property="status" />
		<result column="table_id" property="tableId" />
		<result column="business_type" property="businessType" />
		<result column="proc_def_id" property="procDefId" />
		<result column="proc_inst_id" property="procInstId" />
		<result column="user_id" property="userId" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="del_flag" property="delFlag" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="apply_time" property="applyTime" />
		<result column="create_department_id" property="createDepartmentId" />
		<result column="tenant_id" property="tenantId" />
		<result column="create_department_ids" property="createDepartmentIds" />
		<result column="update_department_id" property="updateDepartmentId" />
		<result column="update_department_ids" property="updateDepartmentIds" />
		<result column="back_flow" property="backFlow" />
		<result column="retreat_id" property="retreatId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, result, title, status, table_id AS tableId, business_type AS businessType, proc_def_id AS procDefId, proc_inst_id AS procInstId, user_id AS userId, create_by AS createBy, create_time AS createTime, del_flag AS delFlag, update_by AS updateBy, update_time AS updateTime, apply_time AS applyTime, create_department_id AS createDepartmentId, tenant_id AS tenantId, create_department_ids AS createDepartmentIds, update_department_id AS updateDepartmentId, update_department_ids AS updateDepartmentIds, back_flow AS backFlow, retreat_id AS retreatId
    </sql>

</mapper>
