<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lind.springboot.mybtisplugs.generate.mapper.TClientMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lind.springboot.mybtisplugs.generate.entity.TClient">
		<id column="id" property="id" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="del_flag" property="delFlag" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="client_secret" property="clientSecret" />
		<result column="home_uri" property="homeUri" />
		<result column="name" property="name" />
		<result column="redirect_uri" property="redirectUri" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by AS createBy, create_time AS createTime, del_flag AS delFlag, update_by AS updateBy, update_time AS updateTime, client_secret AS clientSecret, home_uri AS homeUri, name, redirect_uri AS redirectUri
    </sql>

</mapper>
