<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.core.dao.mapper.RolePermissionMapper">
    <select id="findByRoleId" resultType="cn.exrick.xboot.core.entity.Permission">
      SELECT r.*
      FROM t_role_permission ur
      LEFT JOIN t_permission r
      ON ur.permission_id = r.id
      WHERE role_id = #{roleId}
    </select>

</mapper>
